<!DOCTYPE html>
<html>
<head>
  <title>Social Login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>
  
  <%= csrf_meta_tags %>

  <script type="text/javascript" id="socialid_api_script" src="//staging.socialidnow.com/assets/api/socialid.js"></script>
  <style>
    .bricks ul li {
      width: 220px;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
